.botaoCompra{
    background-color: #35A538 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
}

.camposCat{
    background-color: #e2cec6 !important;
    text-decoration-color: black;
}