.textos1{
    font-weight: bold !important;
}

.imagem{
    background-repeat: no-repeat; 
    width: 275px; 
    height: 275px;
    background-size: cover; 
    background-position: center;
}

.margem-grid{
 margin-bottom: 20px;
}

.text-decorator-none{
    text-decoration: none;
}