.textos1{
    font-weight: bold !important;
}

.botao2 {
    background-color: #35A538!important;
}

.imagem{
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    justify-self: center !important;
}

.container{
    margin-top: 20vh;
}

.text-decorator-none-login {
    text-decoration: none;
    color: #35A538;
}

.campos-login{
    background-color: #e2cec6 !important;
    text-decoration-color: black;
}

.item{
    padding-left: 45%;
}