.botaoCompra{
    background-color: #35A538 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
    border-radius: 20px !important;
}

.btnDelCat{
    background-color: #1E6B27 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
    border-radius: 20px !important;
}
.card-categoria{
    border-radius: 40px;
    background-color: #ebe3c8 !important;
}