.text-decorator-none{

    text-decoration: none;
}

.marginEsquerda{

    margin-left: 12px;
    


}

.botaoCompra{
    background-color: #35A538 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
    align-self: center;
    border-radius: 30px !important;
}

.btnDeletar {
    background-color: #1E6B27 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
    align-self: center;
    border-radius: 50px !important;
}

.botaoCompra:hover{
    background-color: #1E6B27 !important;
}

.card-produto{
    border-radius: 40px;
    background-color: #ebe3c8 !important;
}