.text-decorator-none{

    text-decoration: none;
}

.marginEsquerda{

    margin-left: 12px;
    


}

.botaoCompra{
    background-color: #35A538 !important;
    color: white !important;
    justify-content: center;
    margin-left: 12px;
}

.botaoCompra:hover{
    background-color: #1E6B27 !important;
}